name: Development

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3

      - name: Install
        run: yarn install --frozen-lockfile

      - name: Check formatting
        run: yarn test:format

      - name: Lint code
        run: yarn test:lint

      - name: Unit tests
        run: yarn test:unit

      - name: Build code
        run: yarn build

      - name: Integration test
        uses: ./
        with:
          from: 735d1768f09567d1b067bfdc952b2e7e44174dfe
          to: 167440d0a93f955597713d0bd0a0e986b1cd6564
          labels: first-release
